<template>
  <section class="deployapp" v-cloak>
    <header class="header">
      <h1>Sampler Deployment</h1>
    </header>
    <p class="status">Deployment status: {{canStart ? 'inactive' : 'active'}}</p>
    <form ref="form" class="main">
      <div v-for="(depth, index) in config.depths" :key="index">
        <Parameter
          v-model.number="config.depths[index]"
          v-bind:desc="depthPrompt(index+1)"
          v-bind:range="{min: 0, max: 1500, step: 1}"/>
      </div>

      <div class="entry">
        <label>Downcast</label>
        <input class="toggle"
               type="checkbox"
               v-tooltip.top="helpFor('downcast')"
               v-model="config.downcast">
      </div>

      <Parameter
        v-model.number="config.seekerr"
        v-tooltip.top="helpFor('seekerr')"
        v-bind:desc="'Depth seek error [dbar]'"
        v-bind:range="{min: 0, max: 100, step: 1}"/>
      <Parameter
        v-model.number="config.deptherr"
        v-tooltip.top="helpFor('deptherr')"
        v-bind:desc="'Depth hold error [dbar]'"
        v-bind:range="{min: 0, max: 100, step: 1}"/>
      <Parameter
        v-model.number="config.seektime"
        v-tooltip.top="helpFor('seektime')"
        v-bind:desc="'Maximum depth seek time [sec]'"
        v-bind:range="{min: 0, max: 9999, step: 1}"/>

      <div class="entry">
        <label>Change collection settings</label>
        <input class="toggle" type="checkbox" v-model="changeCollect">
      </div>

      <div v-show="changeCollect">
        <Parameter
          v-model.number="config.collect.s_amount"
          v-bind:desc="'Sample amount [liter]'"
          v-bind:range="{min: 0.01, max: 20, step: 0.01}"/>
        <Parameter
          v-model.number="config.collect.s_time"
          v-bind:desc="'Maximum sample time [sec]'"
          v-bind:range="{min: 10, max: 1200, step: 1}"/>
        <Parameter
          v-model.number="config.collect.e_amount"
          v-bind:desc="'Ethanol amount [liter]'"
          v-bind:range="{min: 0.01, max: 10, step: 0.01}"/>
        <Parameter
          v-model.number="config.collect.e_time"
          v-bind:desc="'Maximum ethanol pumping time [sec]'"
          v-bind:range="{min: 1, max: 1200, step: 1}"/>
        <Parameter
          v-model.number="config.collect.maxpr"
          v-bind:desc="'Maximum pressure across the filter [psi]'"
          v-bind:range="{min: 1, max: 200, step: 1}"/>
      </div>

      <div class="entry">
        <label>Add metadata</label>
        <input class="toggle" type="checkbox" v-model="addMetadata">
      </div>
      <div v-show="addMetadata">
        <div class="entry">
          <label>Cruise ID</label>
          <input type="text" v-model="cruiseId">
        </div>
        <div class="entry">
          <label>Cast ID</label>
          <input type="text" v-model="castId">
        </div>
      </div>

      <button type="button"
              class="control"
              @click="startDeployment()"
              :disabled="!canStart">Start Deployment</button>
      <button class="control"
              type="button"
              :disabled="!canStop"
              @click="stopDeployment()">Abort Deployment</button>
      <button class="control"
              v-tooltip.top="helpFor('reset')"
              type="button"
              @click="resetDefaults()">Reset</button>
    </form>
  </section>
</template>

<script>
import Parameter from './Parameter.vue'

export default {
    components: { Parameter },
    data() {
        return {
            config: {
                seekerr: 5,
                deptherr: 5,
                prrate: 4,
                seektime: 0,
                downcast: false,
                depths: [15., 50., 100.],
                metadata: [],
                collect: {
                    s_amount: 2.0,
                    s_time: 300,
                    e_amount: 0.02,
                    e_time: 8,
                    maxpr: 12
                },
            },
            changeCollect: false,
            unitStatus: {},
            canStart: true,
            canStop: false,
            errors: [],
            addMetadata: false,
            cruiseId: "",
            castId: "",
        };
    },
    methods: {
        checkForm: function() {
        },
        depthPrompt: function(i) {
            return "Sample depth " + i + " [dbar]";
        },
        mockStart: async function() {
            if (this.$refs.form.checkValidity()) {
                this.canStart = false;
                await new Promise(r => setTimeout(r, 2000));
                this.canStop = true;
            } else {
                this.$refs.form.reportValidity();
            }
        },
        mockStop: async function() {
            this.canStop = false;
            await new Promise(r => setTimeout(r, 2000));
            this.canStart = true;
        },
        mockStatus: async function() {
            await new Promise(r => setTimeout(r, 2000));
        },
        startDeployment: function() {
            if (!this.$refs.form.checkValidity()) {
                this.$refs.form.reportValidity();
                return;
            }

            this.config.metadata = [];
            if (this.cruiseId) {
                this.config.metadata.push("Cruise", this.cruiseId);
            }
            if (this.castId) {
                this.config.metadata.push("Cast", this.castId);
            }

            let self = this;
            fetch("/deployment", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(self.config),
            })
            .then(resp => {
                if(!resp.ok) {
                    throw new Error(`HTTP error; status: ${resp.status}`);
                } else {
                    return resp.json();
                }
            })
            .then(data => {
                    self.unitStatus = data;
                    if (typeof data.ActiveState == "string") {
                        self.canStop = (data.ActiveState == "active");
                        self.canStart = !self.canStop;
                        self.checkForStop();
                    }
            })
            .catch(e => {
                console.log("Status check failed: " + e.message);
            });
        },
        stopDeployment: function() {
            let self = this;
            fetch("/deployment", {method: "DELETE"})
            .then(resp => {
                if(!resp.ok) {
                    throw new Error(`HTTP error; status: ${resp.status}`);
                } else {
                    return resp.json();
                }
            })
            .then(data => {
                    self.unitStatus = data;
                    if (typeof data.ActiveState == "string") {
                        self.canStop = (data.ActiveState == "active");
                        self.canStart = !self.canStop;
                    }
            })
            .catch(e => {
                console.log("Status check failed: " + e.message);
            });
        },
        checkForStop: function() {
            let self = this;
            fetch("/deployment")
                .then(resp => {
                    if(!resp.ok) {
                        throw new Error(`HTTP error; status: ${resp.status}`);
                    } else {
                        return resp.json();
                    }
                })
                .then(data => {
                    self.unitStatus = data;
                    if (typeof data.ActiveState == "string") {
                        self.canStop = (data.ActiveState == "active");
                        self.canStart = !self.canStop;
                        if (self.canStop) {
                            setTimeout(self.checkForStop, 2000);
                        }
                    }
                })
                .catch(e => {
                    console.log("Status check failed: " + e.message);
                });
        },
        resetDefaults: function() {
            this.config = {
                seekerr: 5,
                deptherr: 5,
                prrate: 4,
                seektime: 0,
                downcast: false,
                depths: [15., 50., 100.],
                metadata: [],
                collect: {
                    s_amount: 2.0,
                    s_time: 300,
                    e_amount: 0.02,
                    e_time: 8,
                    maxpr: 12,
                },
            }
        },
        helpFor: function(item) {
            var text = "";
            switch(item) {
            case "seekerr":
                text = `Sample will start when the sampler reaches
the sample depth +/- seekerr.`;
                break;
            case "deptherr":
                text = `If the sampler moves outside the range of
sample depth +/- deptherr during a sample, this will be noted in
the data log.`;
                break;
            case "seektime":
                text = `Maximum time allowed to reach a sample depth, the
    deployment will abort if this time is exceeded.`;
                break;
            case "downcast":
                text = `Check this box if the samples will be collected on
    the downcast. By default they will be collected on the upcast.`;
                break;
            case "reset":
                text = `Reset all parameters to their default values.`;
                break;
            }

            return text;
        },
    },
    watch: {
        canStop: function(newval, oldval) {
            if (oldval == true && newval == false) {
                this.$emit('stopped');
            }
        }
    },
    created () {
        this.checkForStop();
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
label {
    width: 40%;
    position: absolute;
    left: 5%;
    text-align: right;
    margin-right: 30px;
}

input[type=text] {
    width: 100px;
    padding: 5px;
    margin: 0px 5px 0px 30px;
    border: 2px solid #eee;
}

.control {
    display: block;
    border-width: 2px;
    width: 150px;
}
.active-border {
    border-color: #39a746;
}

.inactive-border {
    border-color: #af2d3d;
}
</style>
