<template>
  <table class="outbox">
    <caption>Deployment data-sets (free-space: {{freespace | humanize}})</caption>
    <thead>
      <tr>
        <th>Deployment ID</th>
        <th>Samples</th>
        <th>Size</th>
        <th>Download Link</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="file in files" :key="file.name">
        <td v-if="file.summary">{{file.summary.id}}</td>
        <td v-else></td>
        <td v-if="file.summary.samples">{{file.summary.samples.length}}</td>
        <td v-else></td>
        <td v-if="file.size">{{file.size | humanize}}</td>
        <td v-else></td>
        <td>
          <a v-bind:href="'/outbox/' + file.name" download>{{file.name}}</a>
          <button class="delfile"
                  @click="deleteFile(file.name)">X</button>
        </td>
      </tr>
    </tbody>
  </table>
</template>
<script>
  import humanBytes from "./humanize.js";

  export default {
      data() {
          return {
              files: [],
              freespace: 0,
          }
      },
      methods: {
          getListing: function() {
              let self = this;
              fetch("/outbox/")
                  .then(resp => {
                      if(!resp.ok) {
                          throw new Error(`HTTP error; status: ${resp.status}`);
                      } else {
                          return resp.json();
                      }
                  })
                  .then(data => {
                      self.files = data.files;
                      self.freespace = data.freespace;
                  })
                  .catch(e => {
                      console.log("Cannot list outbox: " + e.message);
                  });
          },
          deleteFile: function(name) {
              let self = this;
              fetch("/outbox/" + name, {method: "DELETE"})
                  .then(resp => {
                      if(!resp.ok) {
                          throw new Error(`HTTP error; status: ${resp.status}`);
                      } else {
                          self.getListing();
                      }
                  })
                  .catch(e => {
                      console.log("Cannot delete file: " + e.message);
                  });
          }
      },
      filters: {
          humanize: function (val) {
              return humanBytes(Number(val));
          }
      },
      created () {
          this.getListing();
      }
  }
</script>
<style scoped>
  .outbox {
      margin-top: 30px;
  }
  .delfile {
      margin-left: 10px;
  }
  td {
      padding-left: 4px;
      padding-right: 4px;
  }
</style>
