<template>
  <div class="entry">
    <label>{{ desc }}</label>
    <input type="number"
           v-bind:min="range.min"
           v-bind:max="range.max"
           v-bind:step="range.step"
           v-bind:value="value"
           v-on:input="$emit('input', $event.target.value)" required>
    <span class="validity"></span>
  </div>
</template>
<script>
  export default {
      props: ["value", "desc", "range"]
  }
</script>
<style scoped>
label {
    width: 40%;
    position: absolute;
    left: 5%;
    text-align: right;
    margin-right: 30px;
}

input[type=number] {
    width: 50px;
    padding: 5px;
    margin: 0px 5px 0px 30px;
    border: 2px solid #eee;
}

input:invalid+span:after {
    content: '✖';
    padding-left: 5px;
    color: red;
}

input:valid+span:after {
    content: '✓';
    padding-left: 5px;
    color: green;
}
</style>
